$lineHeight: (8 8, 12 12, 16 16, 32 32, 64 64);
$fontSize: (10 10, 12 12, 14 14, 16 16, 18 18, 20 20);

@each $var in $lineHeight {
  .lh-#{nth($var, 1)} {
    line-height: #{nth($var, 2)}px !important;
  }
}

@each $var in $fontSize {
  .fs-#{nth($var, 1)} {
    font-size: #{nth($var, 2)}px !important;
  }
}
