@import 'custom.scss';
@import 'variable.scss';
@import 'helper.scss';

body {
  background-color: $bg-color;
}

.base-header {
  background-color: $header-bg;

  .icon-li {
    padding: 0.05em 0.2em;
    margin-right: 0.75em;
  }

  .nav-item {
    width: 75px;

    .nav-url {
      color: $header-url;
      text-decoration: none;

      &:hover {
        color: white;
      }

      &-active {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .nav-work {
    border-left: 1px solid #5c6f7c;
  }

  .nav-premi {
    width: 80px;
    margin-top: 4px;
    padding: 4px 0;

    a {
      font-size: 12px;
      color: #dccea4;
    }
  }
}

.base-content {
  display: flex;
  flex-wrap: wrap;
  margin: 6.5em 4.5em 4em 5.5em;
  font-size: 0.75rem;

  .column-1 {
    width: 22%;
  }

  .column-2 {
    width: 50%
  }

  .column-3 {
    width: 28%
  }
}

.base-footer {
  border-top: 1px solid $header-url;
  padding: 1.5em 5em 0.5em;

  .icon-footer {
    background: $primary;
    color: white;
    border-radius: 2px;
    padding: 2px 4px;
    margin-left: 2px;
  }

  .list-footer {
    display: block;
    font-size: 14px;
    color: #485d69;
    margin-bottom: 8px;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.card {
  .img-profile {
    background-image: url("http://static.licdn.com/sc/h/3chad3rzxalsf65nuo7hxciac");
    background-position: center;
    background-size: 462px;
    height: 54px;
  }

  .avatar-profile {
    margin: -50px auto 12px;
    border: 2px solid white;
  }

  .avatar-number {
    color: $primary;
    font-size: 20px;
  }

  .share-title {
    font-size: 16px;
    margin-bottom: 2em;
  }

  .btn-post {
    font-size: 12px;
    padding: 0.2em 1em;
    border-radius: 0;
    margin-top: 15px;
    margin-left: 8px;
  }
}

.sort-homepage {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  hr {
    flex-grow: 2;
    margin: 16px 4px;
  }
}

.dot-feed {
  display: flex;
  justify-content: flex-end;
}

.feed-link {
  margin-right: 16px;
  padding: 6px 8px;

  &:hover {
    text-decoration: none;
    background: $bg-color;
  }
}
