@import 'custom.scss';
@import 'variable.scss';
@import 'helper.scss';

body {
  background-color: $bg-color;
}

.base-header {
  background-color: $header-bg;

  .nav-item {
    width: 75px;

    .nav-url {
      color: #c7d1d8;
      text-decoration: none;

      &:hover {
        color: white;
      }

      &-active {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .nav-work {
    border-left: 1px solid #5c6f7c;
  }

  .nav-premi {
    width: 100px;
    margin-top: 4px;

    a {
      font-size: 12px;
      color: #dccea4;
    }
  }
}

.base-content {
  margin: 4.5em;
}

.icon-li {
  padding: 0.05em 0.2em;
  margin-right: 0.75em;
}
